# Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Load Dataset

In [88]:
df = pd.read_csv('lamudi_malang_house.csv', encoding='ISO-8859-1')
df.head()

,title,location,detail,price,agent_name,agent_status,description
0,Rumah mewah termurah dekat kampus brawijaya,"Dinoyo, Malang",3 Kamar tidur ...,Rp662.000.000,Endang AJ Property,Rekan Lamudi Pro,MODERN RUMAH READY UNIT 2 LANTAI mulai 600juta...
1,Di jual Rumah Kost Exclusive Kota Malang Suhat,"Tulusrejo, Malang",10 Kamar tidur ...,Rp2.500.000.000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Redy Redy 2 U...
2,di jual rumah kost Exclusive kota malang Suhat...,"Lowokwaru, Malang",10 Kamar tidur ...,Rp2.900.000.000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Sisa 1 unit S...
3,Dijual Murah Rumah Aesthetic di Lowokwaru Deka...,"Lowokwaru, Malang",2 Kamar tidur ...,Rp589.000.000,Muhammad Sudono,Agent,Akses mobil bisa simpangan .Bisa KPR .Row jala...
4,Dijual Rumah Butuh uang segera luas 231m di p...,"Blimbing, Malang",3 Kamar tidur ...,Rp650.000.000,Fran Jual Rumah Malang,Rekan Lamudi Pro,Dijual Rumah luas 231m butuh uang segera lokas...

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2958 non-null   object
 1   location      2958 non-null   object
 2   detail        2958 non-null   object
 3   price         2958 non-null   object
 4   agent_name    2958 non-null   object
 5   agent_status  2958 non-null   object
 6   description   2958 non-null   object
dtypes: object(7)
memory usage: 161.9+ KB

# Cleaning Data

### Memecah location menjadi Kabupaten dan Kota

In [90]:
df[['kabupaten', 'kota']] = df['location'].str.split(r',', expand=True)
df = df.drop(['location'], axis=1)
df.head()

,title,detail,price,agent_name,agent_status,description,kabupaten,kota
0,Rumah mewah termurah dekat kampus brawijaya,3 Kamar tidur ...,Rp662.000.000,Endang AJ Property,Rekan Lamudi Pro,MODERN RUMAH READY UNIT 2 LANTAI mulai 600juta...,Dinoyo,Malang
1,Di jual Rumah Kost Exclusive Kota Malang Suhat,10 Kamar tidur ...,Rp2.500.000.000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Redy Redy 2 U...,Tulusrejo,Malang
2,di jual rumah kost Exclusive kota malang Suhat...,10 Kamar tidur ...,Rp2.900.000.000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Sisa 1 unit S...,Lowokwaru,Malang
3,Dijual Murah Rumah Aesthetic di Lowokwaru Deka...,2 Kamar tidur ...,Rp589.000.000,Muhammad Sudono,Agent,Akses mobil bisa simpangan .Bisa KPR .Row jala...,Lowokwaru,Malang
4,Dijual Rumah Butuh uang segera luas 231m di p...,3 Kamar tidur ...,Rp650.000.000,Fran Jual Rumah Malang,Rekan Lamudi Pro,Dijual Rumah luas 231m butuh uang segera lokas...,Blimbing,Malang

### Mengubah nilai pada kolom detail

In [91]:
def cleaning(data):
    data = re.sub(r'[.,?]', " ", data)
    data = re.sub(r'[Rp|m²|Â|Lahan]', '', data)
    data = re.sub(r'\s+', '', data)
    return data

In [92]:
df['price'] = df['price'].apply(cleaning)
df['detail'] = df['detail'].apply(cleaning)
df.head()

,title,detail,price,agent_name,agent_status,description,kabupaten,kota
0,Rumah mewah termurah dekat kampus brawijaya,3Krtidur60Bgu69,662000000,Endang AJ Property,Rekan Lamudi Pro,MODERN RUMAH READY UNIT 2 LANTAI mulai 600juta...,Dinoyo,Malang
1,Di jual Rumah Kost Exclusive Kota Malang Suhat,10Krtidur250Bgu103,2500000000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Redy Redy 2 U...,Tulusrejo,Malang
2,di jual rumah kost Exclusive kota malang Suhat...,10Krtidur300Bgu103,2900000000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Sisa 1 unit S...,Lowokwaru,Malang
3,Dijual Murah Rumah Aesthetic di Lowokwaru Deka...,2Krtidur36Bgu72,589000000,Muhammad Sudono,Agent,Akses mobil bisa simpangan .Bisa KPR .Row jala...,Lowokwaru,Malang
4,Dijual Rumah Butuh uang segera luas 231m di p...,3Krtidur231Bgu231,650000000,Fran Jual Rumah Malang,Rekan Lamudi Pro,Dijual Rumah luas 231m butuh uang segera lokas...,Blimbing,Malang

### Memecah kolom detail menjadi kolom kamar tidur, luas bangunan, dan luas lahan

In [93]:
df[['kamar tidur', 'luas bangunan', 'luas lahan']] = df['detail'].str.split(r"Krtidur|Bgu", expand=True)
df = df.drop(['detail'], axis = 1)
df.head()

,title,price,agent_name,agent_status,description,kabupaten,kota,kamar tidur,luas bangunan,luas lahan
0,Rumah mewah termurah dekat kampus brawijaya,662000000,Endang AJ Property,Rekan Lamudi Pro,MODERN RUMAH READY UNIT 2 LANTAI mulai 600juta...,Dinoyo,Malang,3,60,69
1,Di jual Rumah Kost Exclusive Kota Malang Suhat,2500000000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Redy Redy 2 U...,Tulusrejo,Malang,10,250,103
2,di jual rumah kost Exclusive kota malang Suhat...,2900000000,Arif Faisol Halim,Rekan Lamudi,Di Jual Rumah kost Exclusive SHM Sisa 1 unit S...,Lowokwaru,Malang,10,300,103
3,Dijual Murah Rumah Aesthetic di Lowokwaru Deka...,589000000,Muhammad Sudono,Agent,Akses mobil bisa simpangan .Bisa KPR .Row jala...,Lowokwaru,Malang,2,36,72
4,Dijual Rumah Butuh uang segera luas 231m di p...,650000000,Fran Jual Rumah Malang,Rekan Lamudi Pro,Dijual Rumah luas 231m butuh uang segera lokas...,Blimbing,Malang,3,231,231

### Mengubah datatype

In [ ]:
df.info()

In [ ]:
try:
    df['price'] = df['price'].astype('int64')
except ValueError:
    print("Konversi tipe data gagal.")

In [ ]:
try:
    df['kamar tidur'] = df['kamar tidur'].astype('int64')
except ValueError:
    print("Konversi tipe data gagal.")

In [ ]:
try:
    df['luas lahan'] = df['luas lahan'].astype('int64')
except ValueError:
    print("Konversi tipe data gagal.")

In [96]:
try:
    df['luas bangunan'] = df['luas bangunan'].astype('int64')
except ValueError:
    print("Konversi tipe data gagal.")

Konversi nilai ke tipe data integer gagal. Terdapat nilai non-numeric dalam kolom.

In [97]:
numeric_values = pd.to_numeric(df['luas bangunan'], errors='coerce')

# Mengganti kolom 'integer_column' dengan nilai numerik
df['luas bangunan'] = numeric_values

# Menghapus baris yang mengandung nilai non-numeric
df.dropna(subset=['luas bangunan'], inplace=True)

Jumlah nilai non-numeric: 2

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2956 entries, 0 to 2957
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          2956 non-null   object
 1   price          2956 non-null   int64
 2   agent_name     2956 non-null   object
 3   agent_status   2956 non-null   object
 4   description    2956 non-null   object
 5   kabupaten      2956 non-null   object
 6   kota           2756 non-null   object
 7   kamar tidur    2956 non-null   int32
 8   luas bangunan  2956 non-null   float64
 9   luas lahan     2956 non-null   int32
dtypes: float64(1), int32(2), int64(1), object(6)
memory usage: 230.9+ KB

#### Mencari null value

In [105]:
df.isnull().sum()

title              0
price              0
agent_name         0
agent_status       0
description        0
kabupaten          0
kota             200
kamar tidur        0
luas bangunan      0
luas lahan         0
dtype: int64

In [110]:
df['kota'] = df['kota'].fillna('Malang')
df.isnull().sum()

title            0
price            0
agent_name       0
agent_status     0
description      0
kabupaten        0
kota             0
kamar tidur      0
luas bangunan    0
luas lahan       0
dtype: int64

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2956 entries, 0 to 2957
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          2956 non-null   object
 1   price          2956 non-null   int64
 2   agent_name     2956 non-null   object
 3   agent_status   2956 non-null   object
 4   description    2956 non-null   object
 5   kabupaten      2956 non-null   object
 6   kota           2956 non-null   object
 7   kamar tidur    2956 non-null   int32
 8   luas bangunan  2956 non-null   float64
 9   luas lahan     2956 non-null   int32
dtypes: float64(1), int32(2), int64(1), object(6)
memory usage: 230.9+ KB